#header {
width: 100%;
background: url('../img/header-bg.png');
height: 50px;
position: fixed;
margin-top: 0px;
}


#nav {
    margin-top: 15px;
    display:block;
}

#logo a { 
    color: #fff; 
    text-decoration: none; float: left; font-size: 30px; margin-top: 0px; color: #fff; font-family:"Wellfleet"; font-weight: bold;
    
}

#nav ul{
list-style: none;
margin: 0 auto;
    display:flex;
    justify-content: space-around;
}
#nav li{
margin-top: 0px;
float: left;
padding-left: 65px;
}
#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }

body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Arvo";
font-weight:bolder;
font-size: 60px;
text-align: center;
color: #FFFFFF;
margin: 50;
padding: 250;
}
h2 {
font-family:"Oswald";
font-weight: bolder;
font-size: 60px;
text-align: center;
color: #000;
margin: 0;
padding: 0;
}
h3 {
font-family: "Oswald";
font-weight: normal;
font-size: 22px;
text-align: center;
color: #FFFFFF;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
h5 {
font-family: "Oswald";
font-weight: normal;
font-size: 16px;
text-align: center;
color: #FFFFFF;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 90%;
}
.clear { clear: both; }

.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

 .author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; } 
 .author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; } 

 .quotes_container { width: 800px; margin: 0 auto;

display:flex;
justify-content: center;
flex-direction: column;
}

#home, #slide2{ width: 100%; }
#home{
background:linear-gradient(to bottom, rgba(0,0,500,.15), rgba(0,50,150,.55)),url('../img/slide1.png') no-repeat fixed;
color: #fff;
height: 650px;
margin: 0;
padding: 100px 0 250px 0;
background-size: cover;
}
#slide2{
background:linear-gradient(to bottom, rgba(0,0,0,.25), rgba(150,125,150,.75)),url('../img/slide2.png') 50% 0 no-repeat fixed;
color: #333333;
height: 1000px;
margin: 0 auto;
padding: 175px 0;
background-size: cover;
}
#slide3{
background:linear-gradient(to bottom, rgba(75,75,5,.25), rgba(0,50,0,.75)),url('../img/slide3.png') 50% 0 no-repeat fixed;
color: #fff;
height: 450px;
padding: 150px;
margin: 0 auto;
overflow: hidden;
background-size: cover;
}
#slide4{
background:linear-gradient(to bottom, rgba(75,75,5,.45), rgba(0,0,0,.55)),url('../img/slide4.png') 50% 0 no-repeat fixed;
color: #333333;
height: 250px;
margin: 0 auto;
padding: 150px 0;
    }
#footer{
background: url(../img/slide5.png) 80% 0 no-repeat fixed;
margin: 0 auto;
height: 110px;
padding: 30px 0;
color: #fff;
background-size: cover;
}


#searchinglogo{
    display:flex;
    justify-content:center;
    padding: px 0;
             
     }

.button a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 20px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;  
}

.button2 a {
  display: block;
  height: 50px;
  width: 180px;
  background: #bc0d0d;
    /*TYPE*/
  color: white;
  font: 20px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
    
}

#footlogo{ 
    display:flex;
    justify-content:center;
    align-items: center;
}

#dlbtn{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 160px;
    
}